.paste-area {
  font-family: var(--instrument-sans);
  width: 100%;
  padding: 8px;
  border: 1px solid var(--bg-slate-300);
  background-color: var(--bg-slate-50);
  border-radius: 4px;
  outline: none;
  height: 700px;
  margin-top: 12px;
}

.paste-area:focus {
  outline: none;
  outline: 1px solid var(--bg-slate-500);
}

.save-btn {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}
