@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --instrument-sans: "Instrument Sans", serif;
  --instrument-serif: "Instrument Serif", serif;

  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;

  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;

  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;

  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
}

body {
  font-family: var(--instrument-sans);
}

.main {
  padding: 0px 16px;
  background-color: var(--slate-950);
  color: var(--slate-50);
  min-height: 100vh;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.btn {
  padding: 8px 16px;
  font-family: var(--instrument-sans);
  background-color: var(--blue-600);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  color: var(--slate-50);
  transition: all 0.2s ease-in-out;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--blue-700);
}

.header {
  height: 56px;
  display: flex;
  align-items: center;
}

.header h1 {
  font-family: var(--instrument-serif);
}
