.paste-area {
  font-family: var(--instrument-sans);
  width: 100%;
  padding: 8px;
  border: 2px solid var(--slate-700);
  background-color: var(--slate-800);
  border-radius: 6px;
  outline: none;
  height: 700px;
  margin-top: 12px;
  color: var(--slate-50);
}

.paste-area:focus {
  outline: none;
  border: 2px solid var(--blue-700);
}

.save-btn {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}
